@layout('layouts/main')
@set('title', 'Erreur 403')

@section('body')
<main class="container mx-auto my-5">
  <img class="" src="/assets/img/403.jpg" alt="erreur 403" width="400px" height="400px">
  <a href="{{ route('home') }}" class="btn btn-outline-dark mt-3">Retour à l'accueil</a>
</main>
@endsection
